/* Blog  */
.display {
    margin-top: var(--spacing-6x);
}

.display__headline {
    max-width: 775px;
    margin: 0 auto;
}

.blog__list {
    gap: var(--spacing-4x);
}

.blog__item {
    border: 1px solid var(--border-grey-200);
    border-radius: var(--border-radius-md);
    color: #71798B;
    gap: var(--spacing-3x);
    font-size: var(--text-size-p);
    min-width: 100%;
    padding: var(--spacing-5x);
}

.blog-item-next {
    background-color: rgb(225 234 252 / 70%);
}

.blog__img {
    border-radius: var(--border-radius-sm);
    width: 100%;
}

.blog__title {
    background: linear-gradient(101.82deg, #060f32 0.54%, #132d98 94.57%), #060f32;
    background-clip: text;
    color: var(--color-text-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog__tag-list {
    gap: var(--spacing-3x);
}

.blog__tag {
    background-color: #EEEEF0;
    border-radius: var(--border-radius-md);
    color: var(--color-text-grey-500) !important;
    font-size: 1.12rem;
    font-weight: var(--font-weight-500);
    padding: 0 var(--spacing-3x);
}

.blog__text {
    margin: var(--spacing-1x) 0 var(--spacing-3x);
}

.blog__pag {
    align-items: center;
    gap: var(--spacing-3x);
    justify-content: center;
    margin: var(--spacing-10x) 0 0;
}

.blog__pag-btn {
    background-color: transparent;
    border-radius: var(--border-radius-sm);
    font-weight: var(--font-weight-500);
    height: 40px;
    line-height: 0;
    padding: var(--spacing-2x);
    width: 40px;
    transition: var(--transition-background);
}

.blog__pag-btn.is-active,
.blog__pag-btn:hover {
    background-color: #F6F7F9;
}


.blog-post {
    color: #71798B;
}

.blog-post__header {
    font-weight: var(--font-weight-500);
}

.blog-post__headline {
    margin: var(--spacing-4x) 0 var(--spacing-6x);
}

.blog-post__subheadline {
    text-align: left;
    max-width: 100%;
    margin: 0;
}

.blog-post__tags {
    gap: var(--spacing-4x);
    justify-content: center;
}

.blog-post__body {
    margin-top: var(--spacing-10x);
}

.blog-post__section {
    gap: var(--spacing-4x);
    margin-bottom: var(--spacing-10x);
    text-align: left;
}

.why-thread__list {
    gap: var(--spacing-4x);
    margin-top: var(--spacing-4x);
}

.why-thread__item {
    margin-bottom: var(--spacing-4x);
}

.why-thread__title {
    color: var(--color-text-primary);
    margin-bottom: var(--spacing-3x);
}

.up-next {
    color: var(--color-text-primary);
    margin-bottom: var(--spacing-4x);
    font-weight: var(--font-weight-500);
}

/*<-------------------------> 
        #SCREEN BREAKPOINT
/*-------------------------->*/



/* Screen larger than 768px  */
@media only screen and (min-width: 768px) {

    /* Layout  */
    .l-container {
        max-width: 720px;
        padding: 0;
    }

    /* Blog  */
    .display {
        margin-top: var(--spacing-16x);
        margin-bottom: var(--spacing-8x);
    }

    .display__headline {
        text-align: center;
    }

    .blog__list {
        grid-template-columns: 1fr 1fr;
    }

    .blog-post__wrapper {
        max-width: 650px;
        margin: 0 auto;
    }

    .blog-post__header {
        margin-bottom: var(--spacing-16x);
    }

    .blog-post__subheadline {
        font-size: 2.2rem;
    }

    .why-thread__title {
        font-size: 1.65rem;
    }
}



/* Screen larger than 992px  */
@media only screen and (min-width: 992px) {
    .l-inner {
        padding-left: var(--spacing-10x);
        padding-right: var(--spacing-10x);
    }
}